<h1 class="center-text">Get Geolocation!</h1>

<div class="display-center">
  <button mat-raised-button (click)="getLocation()">
    Get Location!
  </button>
</div>
<div>
  <table>
    <tr>
      <th>
        Latitude
      </th>
      <th>
        Longitude
      </th>
      <th>
        Accuracy
      </th>
      <th>
        Altitude Accuracy
      </th>
      <th>
        Altitude
      </th>
      <th>
        Speed
      </th>
      <th>
        Heading
      </th>
    </tr>
    <tr>
      <td *ngFor="let value of allValues">
        {{ value }}
      </td>
    </tr>
  </table>
</div>
