<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Plugins!
  </h1>
</div>
<div>
  <button routerLink="/camera-plugin">
    Camera
  </button>
  <button routerLink="/show-auth-capacitor">
    Face ID - Capacitor
  </button>
  <button routerLink="/show-auth-cordova">
    Face ID - Cordova
  </button>
  <button routerLink="/geo-plugin">
    GeoLocation
  </button>
  <button routerLink="/accel-plugin">
    Accelerometer
  </button>
</div>

<router-outlet></router-outlet>
